<div *ngIf="option == 'modify'">

  <div class="modal-header">
    <h4 class="modal-title">Modificar Categoria</h4>
    <p class=" category">
      Los datos marcados con (<a class="text-primary">*</a>) son de carácter obligatorio
    </p>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class=" row">
        <div class=" col-md-5 pr-md-4">
          <div class=" form-group">
            <label> Referencia <a class="text-primary">*</a></label>
            <input
              class=" form-control text-dark"
              placeholder="Referencia"
              type="text"
              name="reference"
              [(ngModel)]="category.reference"
            />
          </div>
        </div>
        <div class=" col-md-5 pl-md-4">
          <div class=" form-group">
            <label> Nombre <a class="text-primary">*</a> </label>
            <input

              class=" form-control text-dark"
              placeholder="Ingrese"
              type="text"
              name="name"
              [(ngModel)]="category.name"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-primary" (click)="close();modifyCategory()">Modificar</button>
  </div>

</div>


<div *ngIf="option == 'create'">

  <div class="modal-header">
    <h4 class="modal-title">Crear Categoría</h4>
    <p class=" category">
      Los datos marcados con (<a class="text-primary">*</a>) son de carácter obligatorio
    </p>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class=" row">
        <div class=" col-md-5 pr-md-4">
          <div class=" form-group">
            <label> Referencia <a class="text-primary">*</a></label>
            <input
              class=" form-control text-dark"
              placeholder="Referencia"
              type="text"
              name="reference"
              [(ngModel)]="category.reference"
            />
          </div>
        </div>
        <div class=" col-md-5 pl-md-4">
          <div class=" form-group">
            <label> Nombre <a class="text-primary">*</a> </label>
            <input
              class=" form-control  text-dark"
              placeholder="Ingrese"
              type="text"
              name="name"
              [(ngModel)]="category.name"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-outline-primary" (click)="close();addCategory()">Crear</button>
  </div>

</div>
