
<div class=" content">
  <div class=" row">
    <div class=" col-md-12 ">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Registro de entradas y salidas</h4>
          <p class=" category">
            Puede realizar la busqueda del producto por referencia
          </p>
        </div>

        <div class=" card-body">
          <form [formGroup]="form" (ngSubmit)="registrarMovimiento()">
            <div class=" row">
              <div class=" col-md-5 pl-md-3">
                <div class=" form-group">
                  <label> Referencia del producto</label>
                  <div class="input-group">
                    <input
                      class=" form-control"
                      placeholder="Ingrese referencia"
                      type="text"
                      formControlName="productReference"
                      [ngClass]="{ 'is-invalid': submitted && f.productReference.errors }"
                    />
                    <button class=" btn custom" (click)="getProduct()" >
                      <i class=" tim-icons icon-zoom-split"> </i>
                    </button>
                    <div *ngIf="submitted && f.productReference.errors" class="invalid-feedback">
                      <div *ngIf="f.productReference.errors.required">La referencia del producto es requerida</div>
                    </div>
                  </div>
                </div>

                  <div class=" typography-line">
                    <h5> Nombre: <span  class="text-info"> {{product.name}}</span></h5>
                    <h5> Cantidad: <span  class="text-success"> {{product.quantity}}</span></h5>
                    <h5> Marca: <span  class="text-info"> {{product.brand.name}}</span></h5>
                    <h5> Categoria:  <span  class="text-info">{{product.category.name}}</span></h5>
                  </div>

              </div>

              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> <strong>Movimiento del producto</strong> </label>
                    <input
                      class=" form-control"
                      placeholder="Cantidad"
                      type="number"
                      value="0"
                      formControlName="quantity"
                      [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                    />
                  <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.quantity.errors.required">La cantidad del producto es requerida</div>
                  </div>
                </div>

                <ngb-alert [type]="'danger'" *ngIf="staticAlertClosed" [dismissible]="false">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed = true">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                  <span>
                    <b> Danger </b> Texto
                  </span>
                </ngb-alert>


                <div class="typography-line">
                  <div>
                    <input type="checkbox"  (change)="switch()" [checked]="in" /><span class="text-info ml-1">Entrada</span>
                  </div>
                  <div>
                    <input type="checkbox"  (change)="switch()" [checked]="out" /><span class="text-info ml-1">Salida</span>

                  </div>
                </div>
                <div class=" form-group">
                  <label> Razon </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="ingrese aqui su razon"
                    rows="4"
                    formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                  ></textarea>
                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">La razon del movimiento es requerida</div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit">Registrar Movimiento</button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
