<div class="content">
  <div class=" row">
    <div class="col-md-12 ">
      <div class=" card">
        <div class=" card-header">
          <h4 class="title">Clientes registrados</h4>
          <div class="row">
            <div class="col-lg-8 col-md-3 col-sm-4 col-xs-6 col-xs-6">
              <button class=" btn btn-fill btn-danger" [routerLink]="'/clients'" >Crear</button>
            </div>
            <div class="col-lg-4">
              <label> Búsqueda </label>
              <input
                class=" form-control"
                placeholder="Nombre o referencia"
                type="text"
                name="busqueda"
                [(ngModel)]="searchValue"
              />
            </div>
        </div>
        <div class=" card card-plain">
          <div class=" card-body">

            <div class="table-custom table-responsive">
              <table class=" table table-striped" *ngIf="clients">
                <thead class=" text-primary">
                <tr>
                  <th>#</th>
                  <th>Cédula</th>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Dirección</th>
                  <th>Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let client of clients |searchClient:searchValue; index as i ">
                  <th scope="row">{{i+1}}</th>
                  <td>{{client.identification}}</td>
                  <td>{{client.name}}</td>
                  <td>{{client.telephone}}</td>
                  <td>{{client.street}}</td>
                  <td>{{client.email}}</td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" container="body" ngbtooltip="Edit Task" placement="left"
                            type="button" [routerLink]="'/modifyClient/'+client.identification"><i class=" tim-icons icon-pencil"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
