.custom-select {
  position: relative;
  background-color: transparent;
  border-color:#2b3553;

}

.custom-select option{
  background-color: #27293d;
  border-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.table-custom{
  max-height: 300px;
  position: relative;
}

.search-custom{
  float: right;
}

.cardheader-custom{
  float: left;
}
