<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Modificación de usuario</h4>
          <p class=" category">
            Los datos marcados con (*) son de carácter obligatorio
          </p>
        </div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Cedula <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Num identificacion"
                    type="text"
                    name="identification"
                    [(ngModel)]="user.newIdentification"
                  />
                </div>
              </div>
              </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Nombres <a class="text-primary">*</a> </label>
                  <input
                    class=" form-control"
                    placeholder="nombres"
                    type="text"
                    name="nombre"
                    [(ngModel)]="user.name"
                  />
                </div>
              </div>

            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Direccion <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Direccion"
                    type="text"
                    value="calle 18b b, nr. 8 Bl 1, Sc 1, Ap 09"
                    name="direccion"
                    [(ngModel)]="user.street"
                  />
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Telefono <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Telefono"
                    type="text"
                    name="telefono"
                    [(ngModel)]="user.telephone"
                  />
                </div>
            </div>
            <div class=" row">

              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Rol <a class="text-primary">*</a> </label>
                  <div class="input-group" >
                    <select class="custom-select" name="miselect" [(ngModel)]="user.rol">
                      <option [value]="rol" *ngFor="let rol of roles">{{rol}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Contraseña <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Digite contraseña"
                    type="password"
                    name="password"
                    [(ngModel)]="user.password"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="updateUser()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
