<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Modificación de usuario</h4>
          <p class=" category">
            Los datos marcados con (*) son de carácter obligatorio
          </p>
        </div>
        <div class=" card-body">
          <form [formGroup]="form" (ngSubmit)="updateUser()">
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Cedula <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Num identificacion"
                    type="text"
                    formControlName="identification"
                    [ngClass]="{ 'is-invalid': submitted && f.identification.errors }"
                  />
                  <div *ngIf="submitted && f.identification.errors" class="invalid-feedback">
                    <div *ngIf="f.identification.errors.required">La identificacion del usuario es requerido</div>
                  </div>
                </div>
              </div>
              </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Nombres <a class="text-primary">*</a> </label>
                  <input
                    class=" form-control"
                    placeholder="nombres"
                    type="text"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">El nombre del usuario es requerido</div>
                  </div>
                </div>
              </div>

            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Direccion <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Direccion"
                    type="text"
                    value="calle 18b b, nr. 8 Bl 1, Sc 1, Ap 09"
                    formControlName="street"
                    [ngClass]="{ 'is-invalid': submitted && f.street.errors }"
                  />
                  <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                    <div *ngIf="f.street.errors.required">La direccion del usuario es requerida</div>
                  </div>
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Telefono <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Telefono"
                    type="text"
                    formControlName="telephone"
                    [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"
                  />
                  <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                    <div *ngIf="f.telephone.errors.required">El telefono del usuario es requerido</div>
                  </div>
                </div>
            </div>
            <div class=" row">

              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Rol <a class="text-primary">*</a> </label>
                  <div class="input-group" >
                    <select class="custom-select" formControlName="rol" [ngClass]="{ 'is-invalid': submitted && f.rol.errors }">
                      <option [value]="rol" *ngFor="let rol of roles">{{rol}}</option>
                    </select>
                    <div *ngIf="submitted && f.rol.errors" class="invalid-feedback">
                      <div *ngIf="f.rol.errors.required">El rol del usuario es requerido</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Contraseña <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Digite contraseña"
                    type="password"
                    formControlName="password"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="updateUser()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
