/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #27293d; }
::-webkit-scrollbar-track {  background-color: #464545;}
::-webkit-scrollbar-track-piece { background-color: #1e1e2f;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #32325d; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #27293d;}
::-webkit-resizer { background-color: #464545;}
