.btn-icono span.excel{
  background: url(../../../assets/img/excel.png);
  background-size: 30px;
  height: 30px;
}

.btn-icono{
  // display: inline-block;
  width: 50px;
  padding: 5px 10px;
  align-items: center;
}
