<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Modificación de cliente</h4>
          <p class=" category">
            Los datos marcados con (*) son de carácter obligatorio
          </p>
        </div>
        <div class=" card-body">
          <form [formGroup]="form" (ngSubmit)="UpdateClient()">
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Cédula <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Num identificacion"
                    type="text"
                    [disabled]="isNotAdmin"
                    [(ngModel)]="client.identification"
                    formControlName="identification"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Nombres <a class="text-primary">*</a> </label>
                  <input
                    class=" form-control"
                    placeholder="nombres"
                    type="text"
                    [disabled]="isNotAdmin"
                    [(ngModel)]="client.name"
                    formControlName="name"
                  />
                </div>

                  <div class=" form-group">
                    <label> Teléfono <a class="text-primary">*</a></label>
                    <input
                      class=" form-control"
                      placeholder="Telefono"
                      type="text"
                      formControlName="telephone"
                      [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"
                    />
                    <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                      <div *ngIf="f.telephone.errors.required">El telefono del cliente es requerido</div>
                    </div>
                  </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Dirección <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Direccion"
                    type="text"
                    formControlName="street"
                    [ngClass]="{ 'is-invalid': submitted && f.street.errors }"
                  />
                  <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                    <div *ngIf="f.street.errors.required">La direccion del cliente es requerida</div>
                  </div>
                </div>

                <div class=" form-group">
                  <label> Correo <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Digite correo"
                    type="text"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">El email del cliente es requerido</div>
                  </div>
                </div>
              </div>

            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit">Guardar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
