<div class=" content">
  <div class=" row">
    <div class=" col-md-12 ">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Modificar proveedor</h4>
          <p class=" category">
            Los datos marcados con (*) son de carácter obligatorio
          </p>
        </div>

        <div class=" card-body">
          <form [formGroup]="form" (ngSubmit)="modifyProvider()">
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Cedula <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Digite cedula"
                    type="text"
                    disabled=""
                    formControlName="identification"
                  >
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Nombre <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Nombre"
                    type="text"
                    formControlName="name"
                    disabled=""
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Telefono <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Telefono"
                    type="tel"
                    formControlName="telephone"
                    [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }"
                  />
                  <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                    <div *ngIf="f.company.errors.required">La empresa del proveedor es requerida</div>
                  </div>
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Empresa <a class="text-primary">*</a></label>
                  <input
                    class=" form-control"
                    placeholder="Empresa"
                    type="text"
                    formControlName="company"
                    [ngClass]="{ 'is-invalid': submitted && f.company.errors }"
                  />
                  <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                    <div *ngIf="f.company.errors.required">La empresa del proveedor es requerida</div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Correo </label>
                  <input
                    class=" form-control"
                    placeholder="Aqui va el correo"
                    type="email"
                    formControlName="email"
                  >
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Direccion </label>
                  <input
                    class=" form-control"
                    placeholder="Ingrese la direccion"
                    type="text"
                    formControlName="address"
                  >
                </div>
              </div>
            </div>
            <div class=" card-footer">
              <button class=" btn btn-fill btn-danger" type="submit" >Guardar</button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
